[Desktop Entry]
Encoding=UTF-8
Name=Curiumn
Comment=Curiumn P2P Cryptocurrency
Comment[fr]=Curiumn, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Curiumn, eşten eşe kriptografik sanal para birimi
Exec=curiumn-qt %u
Terminal=false
Type=Application
Icon=curiumn128
MimeType=x-scheme-handler/curiumn;
Categories=Office;Finance;
