[Unit]
Description=Curiumn's distributed currency daemon
After=network.target

[Service]
User=curiumn
Group=curiumn

Type=forking
PIDFile=/var/lib/curiumnd/curiumnd.pid

ExecStart=/usr/bin/curiumnd -daemon -pid=/var/lib/curiumnd/curiumnd.pid \
          -conf=/etc/curiumn/curiumn.conf -datadir=/var/lib/curiumnd

ExecStop=-/usr/bin/curiumn-cli -conf=/etc/curiumn/curiumn.conf \
         -datadir=/var/lib/curiumnd stop

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
