[Unit]
Description=Curium's distributed currency daemon
After=network.target

[Service]
User=curium
Group=curium

Type=forking
PIDFile=/var/lib/curiumnd/curiumnd.pid

ExecStart=/usr/bin/curiumnd -daemon -pid=/var/lib/curiumnd/curiumnd.pid \
          -conf=/etc/curium/curium.conf -datadir=/var/lib/curiumnd

ExecStop=-/usr/bin/curiumn-cli -conf=/etc/curium/curium.conf \
         -datadir=/var/lib/curiumnd stop

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
